.title {
  margin: 0;
}

.background {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out .3s;
}

.light {
  background-image: url('../../images/bg-desktop-light.jpg');
}

.dark {
  background-image: url('../../images/bg-desktop-dark.jpg');
}