.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.titleContainer button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.titleContainer h1 {
  letter-spacing: 15px;
}